In [36]:
import requests
import json

cotacoes=requests.get("https://economia.awesomeapi.com.br/last/USD-BRL,EUR-BRL,BTC-BRL")
cotacoes=cotacoes.json()
cotacao_USD=cotacoes['USDBRL']['bid']
nome_USD=cotacoes['USDBRL']['name']
valor_max_USD=cotacoes['USDBRL']['high']
valor_min_USD=cotacoes['USDBRL']['low']

cotacao_BTC=cotacoes['BTCBRL']['bid']
nome_BTC=cotacoes['BTCBRL']['name']
valor_max_BTC=cotacoes['BTCBRL']['high']
valor_min_BTC=cotacoes['BTCBRL']['low']

cotacao_EUR=cotacoes['EURBRL']['bid']
nome_EUR=cotacoes['EURBRL']['name']
valor_max_EUR=cotacoes['EURBRL']['high']
valor_min_EUR=cotacoes['EURBRL']['low']

In [45]:
import pandas as pd

tabela = { 'Moeda' : [nome_USD, nome_BTC, nome_EUR ],
          'Valor Dolar' : [cotacao_USD, cotacao_BTC, cotacao_EUR ],
          'Valor Máximo' : [valor_max_USD, valor_max_BTC, valor_max_EUR],
          'Valor Mínimo' : [valor_min_USD, valor_min_BTC, valor_min_EUR],
         }
tabela_df=pd.DataFrame(tabela).style.set_table_styles([dict(selector='th', props=[('text-align', 'left')]),
                                    dict(selector='td', props=[('text-align', 'left')])])
display(tabela_df)